body       { font-family: "Helvetica", sans-serif; font-size: 20px; color: #000000 }
a, h1, h2  { color: #0063EF; }
form       { margin:.1em auto; padding:.1em; width: 400px; border: 1px }
.heading   { font-weight: bold; }
.page      { margin:.1em auto; padding:.1em; width: 504px;  }
.entry     { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #888; }

.sidenav   { /* https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
  height: 100%; 
  width: 300px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color: #555555; 
  overflow-x: hidden; 
  padding-top: 75px; 
}

.sidenav a { 
  padding: 6px 8px 6px 16px; 
  text-decoration: none; 
  font-size: 25px; 
  color: #E0E000; 
  display: block; 
}

.sidenav h2 {
  color: #FFBB00;
  padding: 1px 20px 6px 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; 
}

.sidenav a:hover { color: #FFFF00; }

.main {
  margin-left: 400px;
  padding: 0px 10px;
}

input[type=text] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
input[type=textarea] { margin: .5em 0; padding: .5em; font-size: 12px; color: #777; width: 200px;}
