{% extends "layout.html" %}
{% block content %}
    <h2>Detect faces on imgur image</h2>
    Input either an imgur url, or an imgur album ID.
    <br><br>
    <em><b>Examples:</b> 
    <br>https://i.imgur.com/7POpKhH.jpg
    <br>https://i.imgur.com/7POpKhH
    <br>7POpKhH
    </em>
    
    <form action="{{ url_for('detectfaces') }}" method=post>
  <p class="heading">Imgur link: <input type=text value="7POpKhH" name="link">
  <p><input type=submit value=Submit />
    </form>
{% endblock %}
