<!doctype html>
<html>
<title>Face Detection from Imgur images</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<!-- Navigation header from: https://www.freecodecamp.org/news/how-to-build-a-web-application-using-flask-and-deploy-it-to-the-cloud-3551c985e492/ -->
<div class=page>
    <header>
        <div class="sidenav">
          <h2>Brad Hopper's Facial Recognition Page</h2>
            <ul class="menu">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('detectfaces') }}">Face Detect</a>
            </ul>
        </div>
    </header>
<body bgcolor="DDDDDD">


 
    {% block content %}{% endblock %}
</div>
</html>
