{% extends "layout.html" %}
{% block content %}
<body>
  <center><h1>Result</h1>

  <br><a href='{{ uri }}'>{{ uri }}</a>
  <h2 id="myString"></h2>
  <canvas id="myCanvas" width= {{ dims[0] }} height= {{ dims[1] }} />
  </center>
  <br>
  <script>
  window.onload = function() {
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var img = new Image;
    var uri = '{{ uri }}';
    var i = 0;
    img.onload = function() {
      ctx.drawImage(img, 0, 0);
      {% for face in result %}
        ctx.moveTo({{ face.bounding_poly.vertices[0].x }}, {{ face.bounding_poly.vertices[0].y }});
        ctx.lineTo({{ face.bounding_poly.vertices[1].x }}, {{ face.bounding_poly.vertices[1].y }});
        ctx.lineTo({{ face.bounding_poly.vertices[2].x }}, {{ face.bounding_poly.vertices[2].y }});
        ctx.lineTo({{ face.bounding_poly.vertices[3].x }}, {{ face.bounding_poly.vertices[3].y }});
        ctx.lineTo({{ face.bounding_poly.vertices[0].x }}, {{ face.bounding_poly.vertices[0].y }});
        ctx.lineWidth = 3;
        ctx.strokeStyle = "#0CFF00";
        ctx.stroke();
        i++;
      {% endfor %} 

      var s = i + " face(s) detected.";

      document.getElementById("myString").innerHTML = s;

      if (i > 0) {
        document.getElementById("myString").style = "color:green;";
      } else {
        document.getElementById("myString").style = "color:red;";
      }

    }
    img.src = uri;
  };
  </script>
</body>
{% endblock %}

